.inputContainer {
  margin: 0 auto;
  display: flex;
  width: 370px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.inputField[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-right: none;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputField[type="text"]:focus {
  border-color: #28a745;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
  outline: none;
}

.inputButton {
  padding: 10px;
  border: none;
  background: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inputButton:hover {
  background: #218838;
}

.errorMessage {
  color: red;
  margin: 0 0 0 65px;
  font-size: 0.6em;
  background-color: #ffe6e6;
  padding: 2px;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  max-width: 280px;
  text-align: center;
}
