.footer {
  background-color: #b1534c;
  color: #fff;
  width: 370px;
  margin: 0 auto;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #e9ecef;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.footer:hover {
  background-color: #f44336;
}
